@import '../../../styles/variables';


.container {
    margin: 30px 0;
    width: 100%;

    .sort {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}