@import '../../../styles/variables';


.container {
    margin: 20px 0;
    width: 100%;

    .header {
        margin: 0;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: solid 1.5px $gray-border;

        .title {
            margin: 10px 0;
            font-family: $main-font;
            font-size: 25px;
            color: $main-font-color;
        }
    }

    .films {
        margin: 5px;
        padding: 0;
        width: 99%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-content: space-between;

        .films_card {
            aspect-ratio: 2.3 / 3;
        }
    }
}