@import '../../../styles/variables';


.card {
    width: 210px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

    .wrapper {
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $poster-background;
        text-decoration: none;

        .rating {
            margin: 15px 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


            .rating_imdb {
                font-family: $main-font;
                font-size: 14px;
                color: $secondary-font-color;
            }
        }

        .footer {
            margin: 5px;

            .name {
                margin: 5px;
                text-align: center;
                font-family: $main-font;
                font-size: 18px;
                color: $main-font-color;
                line-height: 110%;
                
                &:hover {
                    color: $secondary-font-color;
                }
            }
    
            .year {
                text-align: center;
                font-family: $main-font;
                font-size: 14px;
                color: $main-font-color;
                line-height: 110%;
            }
        }
    }
}