@import '../../../styles/variables';


.container {
    margin: 20px 0;
    width: 100%;

    .header {
        margin: 0;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: solid 1.5px $gray-border;

        .title {
            margin: 10px 0;
            font-family: $main-font;
            font-size: 25px;
            color: $main-font-color;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }
}